
/*
@layer theme, custom-base, custom-components, custom-utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(custom-base);
@import "tailwindcss/utilities.css" layer(custom-utilities);
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind theme;
@tailwind flex;


@theme {

}

html {
    background-color: #eee;
}


div#content div div {
    padding: 5px;
    margin: 5px;
    background-color: orange;
}


div#content div div span,
div#content div div span {
    color: white;
    font-weight: bold;
}


div#content div div input,
div#content div div input {
    border: 1px solid black;
    padding: 2px;
}

div#content div div input.red,
div#content div div input.red {
    background-color: palevioletred;
    color: white;
}
